body {
	background-image: url("../imagenes/fondo2.jpg");
	background-size: cover;
	overflow: hidden;
}

.visor_tiempo {
	font-size: 2em;
	font-family: "tahoma";
	font-variant: small-caps;
	color: rgb(22, 170, 165);
}

.visor_juego {
	
	/* width: 100%;  */
	/* No hace falta */
	height: 90vh;
	position: relative;
	/* border:1px solid yellowgreen; */
	display: grid;
	grid-template-columns: repeat(6,1fr);
	grid-template-rows: repeat(6,1fr);
	justify-content: stretch;

}

.fondo-header {
	background-color: #2F4F4F;
}
.fly{
	object-fit: cover;
	/* width: 40px; */
	position: absolute;
	width: 80px;
	height: 70px;
}